*{
  padding: 0%;
  margin: 0%;
}
body{
    background-color: rgb(194, 149, 235);
}
nav ul li{
    display: inline;
    padding-left: 10px;
    margin-left:30px ;

}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.quote{
    text-align: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia,
     Times, 'Times New Roman', serif;
}
.para{
  font-size:large;
  margin-left: 50px;
  font-family: 'Franklin Gothic Medium', 
  'Arial Narrow', Arial, sans-serif;
}
.container {
  position: relative;
  text-align: center;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.slide {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  background: url(background.jpg);
}
.slider {
  position: relative;
  width: 30%;
  overflow: hidden;
}
.images {
  display: flex;
  width: 100%;
}
.images img {
  height: 400px;
  width: 100%;
  transition: all 0.15s ease;
}
.images input {
  display: none;
}
.dots {
  display: flex;
  justify-content: center;
  margin: 5px;
}
.dots label {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: solid #fff 3px;
  cursor: pointer;
  transition: all 0.15s ease;
  margin: 5px;
}
.dots label:hover {background: #fff;}
#img1:checked ~ .m1 {
  margin-left: 0;
}
#img2:checked ~ .m2 {
  margin-left: -100%;
}
#img3:checked ~ .m3 {
  margin-left: -200%;
}
#img4:checked ~ .m4 {
  margin-left: -300%;
}
#img5:checked ~ .m5 {
  margin-left: -400%;
}
#img6:checked ~ .m6 {
  margin-left: -500%;
}
#img7:checked ~ .m7 {
  margin-left: -600%;
}
#img8:checked ~ .m8 {
  margin-left: -700%;
}
.dots.button{
  text-align: center;
}
#order{
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(171, 171, 171);
  font-family: 'Lato' !important;
}
.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color:grey;
  padding-right: 40px;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.container ul li{
  color: black;
  font-size: x-large;
}
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}